<!-- Event -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].event.section | default: "event" }}">
    <div class="container">
      <div class="row text-left">
        <div class="text-muted">
          <img src="./assets/vmtintro.jpg" class="img-fluid" alt="Intro to Voice Movement Therapy" aria-describedby="vmt-description">
          <div id="vmt-description" class="sr-only">
            <h2>Intro to Voice Movement Therapy</h2>
            <p>What is your relationship with your voice? How does it feel in your body?</p>
            <p>September 9 - October 25, 8 week course, 90 minute sessions, $225-$300, sliding scale, Providence, RI</p>
            <p>Using vocalization and gentle movement, drawing and writing, guided imagery and simple songwriting, along with plenty of play and laughter, we'll explore the components of VMT and how to apply them to your daily life in support of a more embodied connection with your voice. This course is for everyone, whether you're a total beginner or seasoned singer; whether you hope to perform on stage or simply build a deeper relationship with your day-to-day speaking self. You do not have to be a 'good singer' or even like your voice. Through movement we give our voice space to expand, and through song we give our bodies space to find freedom.</p>
            <p>Contact for registration: bri.lueders@gmail.com</p>
            <p>Website: breathbodysong.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Event -->